
<br/><br/>
<div class="container">
    <div class="row white z-depth-2" style="border-radius:15px;">
        <div class="row">
            <div class="col l4 m4 s12 center center-align">
                <br/>
                <img src="/pictures/logotransparanbinus.png" class="responsive-img">
            </div>
            <div class="col s12">
                <br/>
                <h4>BERGABUNGLAH BERSAMA KAMI!</h4>
                <p>Segera ajak teman-teman atau saudaramu untuk mendaftar sebagai siswa di SMK Bina Nusantara Semarang</p>
            </div>
            <div class="col l8 m8 s12">
                <br/>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hDQvPAnTKFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br/>
            </div>
            <div class="input-field col l4 m4 s12">
                <p><b>Login App</b></p>
                <input type="text" class="black-text hoverable" name="inputusername" placeholder="Username" style="width: 95%;">
                <input type="text" class="black-text hoverable" name="inputpassword" placeholder="Password" style="width: 95%;">
                <a class="waves-effect waves-light btn btn-large hoverable"><i class="material-icons right">chevron_right</i><b>LOGIN</b></a>
                <p>Lupa Password?<br/> Segera hubungi Admin untuk mereset password</p>
            </div>
            <div class="col s12">
                <br/>
                <footer class="center center-align">
                    &copy; <a href="https://binusasmg.sch.id/">SMK Bina Nusantara Semarang</a> & <a href="https://excellcom.id/">Excellent Computer Semarang</a>
                </footer>
            </div>
        </div>
    </div>
</div>
    
