<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Afiliate Binus - SMK Bina Nusantara Semarang</title>
  <link rel="stylesheet" type="text/css" href="assets/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"> 
  <style>
    /* fallback */
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(assets/material-icons.woff2) format('woff2');
    }
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  </style>
</head>
<body class="brown darken-4">

<br/><br/>
<div class="container">
    <div class="row white z-depth-2" style="border-radius:15px;">
        <div class="row">
            <div class="col l4 m4 s12 center center-align">
                <br/>
                <img src="/pictures/logotransparanbinus.png" class="responsive-img">
            </div>
            <div class="col s12">
                <br/>
                <h4>BERGABUNGLAH BERSAMA KAMI!</h4>
                <p>Segera ajak teman-teman atau saudaramu untuk mendaftar sebagai siswa di SMK Bina Nusantara Semarang</p>
            </div>
            <div class="col l8 m8 s12">
                <br/>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hDQvPAnTKFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br/>
            </div>
            <div class="input-field col l4 m4 s12">
                <p><b>Login App</b></p>
                <input type="text" class="black-text hoverable" name="inputusername" placeholder="Username" style="width: 95%;">
                <input type="text" class="black-text hoverable" name="inputpassword" placeholder="Password" style="width: 95%;">
                <a class="waves-effect waves-light btn btn-large hoverable"><i class="material-icons right">chevron_right</i><b>LOGIN</b></a>
                <p>Lupa Password?<br/> Segera hubungi Admin untuk mereset password</p>
            </div>
            <div class="col s12">
                <br/>
                <footer class="center center-align">
                    &copy; <a href="https://binusasmg.sch.id/">SMK Bina Nusantara Semarang</a> & <a href="https://excellcom.id/">Excellent Computer Semarang</a>
                </footer>
            </div>
        </div>
    </div>
</div>
    

<script src="assets/materialize.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, options);
    });
  </script>
  <script type="text/javascript">
    M.AutoInit();
  </script>
</body>
</html>